.containerBox {
  @apply bg-[#152533] flex justify-center items-center min-h-[calc(100vh-45px)] text-black gap-24;
}
.cardBox {
  @apply relative h-[100px];

  transition: 0.5s;
  transition-delay: 0s;
}

.cardBox.active {
  height: 450px;
}

.userBox {
  @apply relative w-[400px] min-h-[150px] bg-[#2196f3] flex justify-center items-center p-[60px,40px,30px] flex-col gap-[10px] rounded-[10px];
}

.boxImg {
  @apply absolute top-0 w-[100px] h-[100px] rounded-[50%] overflow-hidden border-white border-[6px];

  transform: translateY(-50%);
  transition: 0.5s;
  z-index: 10;
}

.imageBox {
  @apply absolute w-[100%] h-[100%] object-cover z-0;
}

.content {
  @apply relative text-center;
}
.content h2 {
  @apply text-[1.2em] text-white;
  line-height: 1.05em;
  font-weight: 600;
}

.content h2 span {
  font-size: 0.75em;
  font-weight: 400;
}

.toggle {
  @apply absolute bottom-0 w-[120px] p-[5px,15px] bg-white cursor-pointer font-[500] rounded-[30px] text-center;

  transform: translateY(50%);
  border: 5px solid #152533;
  transition: 0.5s;
}
.toggle.active {
  background-color: #ff4383;
}
.toggle::before {
  content: 'Hire me';
}

.cardBox.active .toggle::before {
  content: 'Close';
}
.contact {
  @apply relative top-[30px] w-[100%] h-0 overflow-hidden flex flex-col gap-[10px];
  transition: 0.5s;
}
.cardBox.active .contact {
  height: 325px;
  /* transition-duration: 0.5s; */
}

.contact li {
  @apply w-[100%] min-h-[100px] bg-white rounded-[10px] flex opacity-0;
  transition: 0.5s;
  transform: scale(0);
  padding: 10px 30px;
}

.cardBox.active .contact li {
  opacity: 1;
  transform: scale(1);
}
.cardBox.active .contact:hover li {
  opacity: 0.15;
  filter: blur(2px);
  transition-delay: 0s;
}
.cardBox.active .contact li:hover {
  opacity: 1;
  filter: blur(0px);
}
.contact li a {
  @apply flex  items-center gap-[10px];
}
.contact li a .iconBox {
  @apply relative w-[60px] h-[60px] rounded-[50%] flex justify-center items-center;
}
.contact li a p {
  color: #666;
  font-size: 1.1em;
}
.contact li a:hover {
  color: #111;
}

/* time  */

#time {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time .circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
#time .circle svg {
  position: relative;
  transform: rotate(270deg);
}

#time .circle:nth-child(1) svg {
  width: 250px;
  height: 250px;
}
#time .circle:nth-child(2) svg {
  width: 210px;
  height: 210px;
}
#time .circle:nth-child(3) svg {
  width: 170px;
  height: 170px;
}
#time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 5;
  transform: translate(5px, 5px);
  opacity: 0.25;
}

#time .circle:nth-child(1) svg circle {
  stroke-dasharray: 760;
  stroke-dashoffset: 760;
}
#time .circle:nth-child(2) svg circle {
  stroke-dasharray: 630;
  stroke-dashoffset: 630;
}
#time .circle:nth-child(3) svg circle {
  stroke-dasharray: 510;
  stroke-dashoffset: 510;
}
.dots {
  @apply absolute w-full h-full flex justify-center items-start z-10;
}
.dots::before {
  content: '';
  position: absolute;
  top: -3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.timeBx {
  @apply absolute inset-0 flex justify-center items-center w-full text-white gap-[15px] text-[1.5em] font-bold;
  font-family: consolas;
}

.timeBx .hours::after,
.timeBx .minutes::after {
  content: ':';
  position: absolute;
}
.ap {
  position: absolute;
  transform: translateY(-15px);
  font-size: 0.5em;
  right: 56px;
}

/* BTN  */
.btN {
  @apply relative  text-[1.05em] rounded-[40px] bg-[#2f2f2f] text-[#bbb];
  padding: 14px 40px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  user-select: none;
  transition: 0.5s;
  overflow: hidden;
}
.btN:hover {
  color: white;
}
.btN span {
  position: absolute;
  left: var(--xb);
  top: var(--yb);

  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  filter: brightness(2);
  animation: animated 2s linear 2;
}

@keyframes animated {
  0% {
    width: 0;
    height: 0;
    border: 5px solid var(--crl);
  }
  100% {
    width: 350px;
    height: 350px;
    border: 5px solid var(--crl);
  }
}
