.navigation_nav {
  @apply w-[350px] h-[70px] bg-white flex justify-center items-center rounded-[10px];
}
.navigation_nav ul {
  @apply flex w-[300px];
}
.navigation_nav ul li {
  @apply relative w-[70px] h-[70px];
  z-index: 1;
}

.navigation_nav ul li a {
  @apply relative flex justify-center items-center flex-col w-full text-center font-[500]  h-[70px];
}
.navigation_nav ul li a .icon_nav {
  @apply relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: black;
}

.navigation_nav ul li:hover a .icon_nav {
  transform: translateY(-35px);
}
.navigation_nav ul li a .text_nav {
  @apply absolute text-black font-[400] text-[0.75em];
  letter-spacing: 0.05em;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
}
.navigation_nav ul li:hover a .text_nav {
  opacity: 1;
}
